/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/03/demos/after/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/04/demos/after/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/04/demos/before/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/before/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe-ui/
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.browserslistrc
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.editorconfig
/lunatech/covid_29072022_Jacob-main/.idea/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/.gitignore
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/assets/.gitkeep
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/04/adding-and-integrating-angular-components-slides.pdf
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/angular.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app.component.css
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app.component.html
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app.component.spec.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app.component.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app.module.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/app-routing.module.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/main/resources/application.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/main/resources/application.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/main/resources/application.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/main/resources/application.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/main/resources/application.properties
/lunatech/covid_29072022_Jacob-main/database-init/cases.csv
/lunatech/covid_29072022_Jacob-main/.github/CODEOWNERS
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/connecting-angular-to-spring-slides.pdf
/lunatech/covid_29072022_Jacob-main/database-init/countries.csv
/lunatech/covid_29072022_Jacob-main/.idea/covid_29072022_Jacob-main.iml
/lunatech/covid_29072022_Jacob-main/docker-compose.yaml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/environments/environment.prod.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/environments/environment.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/extensions.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/favicon.ico
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/02/getting-started-with-spring-and-angular-slides.pdf
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/index.html
/lunatech/covid_29072022_Jacob-main/database-init/initialize-db.sh
/lunatech/covid_29072022_Jacob-main/INSTRUCTIONS.md
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/karma.conf.js
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/launch.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/main.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/.mvn/wrapper/maven-wrapper.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/.mvn/wrapper/maven-wrapper.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/.mvn/wrapper/maven-wrapper.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/.mvn/wrapper/maven-wrapper.properties
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/.mvn/wrapper/maven-wrapper.properties
/lunatech/covid_29072022_Jacob-main/.idea/modules.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/mvnw
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/mvnw
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/mvnw
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/mvnw
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/mvnw
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/mvnw.cmd
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/mvnw.cmd
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/mvnw.cmd
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/mvnw.cmd
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/mvnw.cmd
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/package.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/package-lock.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/polyfills.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/pom.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/pom.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/pom.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/pom.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/pom.xml
/lunatech/covid_29072022_Jacob-main/README.md
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/README.md
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/main/java/com/pluralsight/recipe/models/Recipe.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/main/java/com/pluralsight/recipe/models/Recipe.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/main/java/com/pluralsight/recipe/models/Recipe.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/main/java/com/pluralsight/recipe/models/Recipe.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/main/java/com/pluralsight/recipe/models/Recipe.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/recipe-list/recipe-list.component.css
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/recipe-list/recipe-list.component.html
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/recipe-list/recipe-list.component.spec.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/app/recipe-list/recipe-list.component.ts
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/main/java/com/pluralsight/recipe/RecipeAppApplication.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/main/java/com/pluralsight/recipe/RecipeAppApplication.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/main/java/com/pluralsight/recipe/RecipeAppApplication.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/main/java/com/pluralsight/recipe/RecipeAppApplication.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/main/java/com/pluralsight/recipe/RecipeAppApplication.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/test/java/com/pluralsight/recipe/RecipeAppApplicationTests.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/test/java/com/pluralsight/recipe/RecipeAppApplicationTests.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/test/java/com/pluralsight/recipe/RecipeAppApplicationTests.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/test/java/com/pluralsight/recipe/RecipeAppApplicationTests.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/test/java/com/pluralsight/recipe/RecipeAppApplicationTests.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/main/java/com/pluralsight/recipe/repositories/RecipeJpaRepository.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/main/java/com/pluralsight/recipe/repositories/RecipeJpaRepository.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/main/java/com/pluralsight/recipe/repositories/RecipeJpaRepository.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/main/java/com/pluralsight/recipe/repositories/RecipeJpaRepository.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/main/java/com/pluralsight/recipe/repositories/RecipeJpaRepository.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/src/main/java/com/pluralsight/recipe/controllers/RecipeRestController.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/src/main/java/com/pluralsight/recipe/controllers/RecipeRestController.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/src/main/java/com/pluralsight/recipe/controllers/RecipeRestController.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/src/main/java/com/pluralsight/recipe/controllers/RecipeRestController.java
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/src/main/java/com/pluralsight/recipe/controllers/RecipeRestController.java
/lunatech/covid_29072022_Jacob-main/database-init/schema.sql
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/03/setting-up-the-angular-project-slides.pdf
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/setting-up-the-spring-project-slides.pdf
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/styles.css
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/tasks.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/src/test.ts
/100-questions/3.compile-time-vs-runtime/The answer
/100-questions/3.compile-time-vs-runtime/The question
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/tsconfig.app.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/tsconfig.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/tsconfig.spec.json
/lunatech/covid_29072022_Jacob-main/database-init/vaccinations.csv
/lunatech/covid_29072022_Jacob-main/.idea/vcs.xml
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/working-with-spring-mvc-and-spring-data-jpa-slides.pdf
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/extensions.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/launch.json
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/05/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/06/demos/before/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/after/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/slajdy/07/demos/before/recipe/.mvn/wrapper/maven-wrapper.jar
/pluralsight/spa-spring-5-angular-created-2022-completed-2022/recipe-ui/.vscode/tasks.json
